<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Employee ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.employeeId}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/employee}">Go Back to Employee Form</a>
</body>
</html>

